JELLYFIN_IMAGE=jellyfin/jellyfin:latest
JELLYFIN_CONTAINER_NAME=jellyfin

MEDIA_UID=2000
MEDIA_GID=2000

JELLYFIN_HTTP_PORT=8096
JELLYFIN_DISCOVERY_PORT=7359

JELLYFIN_CONFIG_DIR=/srv/homelab/jellyfin/config
JELLYFIN_CACHE_DIR=/srv/homelab/jellyfin/cache

MEDIA_MOVIES_DIR=/mnt/NAS/media/pelis
MEDIA_SERIES_DIR=/mnt/NAS/media/series