PUID=2000
PGID=2000
TZ=Europe/Madrid

STACK_ROOT=/srv/homelab/arr-stack
DATA_ROOT=/mnt/NAS/media

QBITTORRENT_WEBUI_PORT=8090
QBITTORRENT_TORRENT_PORT=51506
SONARR_PORT=8989
RADARR_PORT=7878
PROWLARR_PORT=9696
BAZARR_PORT=6767

COMPOSE_PROJECT_NAME=arrstack